
@{
    ViewBag.Title = "Tables";
}

@model Mini_DBMS.Models.Database

<script src="~/Scripts/customs/addAll.js"></script>

<div class="pull-left">
    @Html.ActionLink("Go back", "GoToDatabases", "Home")
</div>

<h2>@Model.Name tables</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                No of fields
            </th>
            <th>
                Index column
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var table in Model.Tables)
        {
        <tr>
            <td>
                @table.Name
            </td>
            <td>
                @table.Fields.Count
            </td>
            <td>
                @if (table.Index != null)
        {
            @table.Index.Name
}
            </td>
            <td>
                <input type="button" value="View fields" onclick="location.href='@Url.Action("ViewFields", "Home", new { tableName = table.Name })'" />
            </td>
            <td>
                <input type="button" value="Drop" onclick="location.href='@Url.Action("DeleteTable", "Home", new { tableName = table.Name })'" />
            </td>

        </tr>
        }
    </tbody>
</table>

<div class="pull-right">
    <input type="button" value="Add table" onclick="AddTable()" />
</div>

<div id="myModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->