
@{
    ViewBag.Title = "ViewData";
}

@model Mini_DBMS.Models.Table

<script src="~/Scripts/customs/viewData.js"></script>

<table class="table">
    <thead>
    <tr>
        @foreach (var field in @Model.Fields)
        {
            <th>@field.Name</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var value in @Model.DataList)
    {
        <tr>
            <td>@value.Key</td>
            <td>@value.Value</td>
        </tr>
    }
    </tbody>
</table>

@foreach (var field in @Model.Fields)
{
    <input class="fieldValue" type="text" />
}
<input type="button" value="Insert" onclick="AddData()" />


</br>
</br>
<input type="button" value="Delete" onclick="location.href='@Url.Action("_DeleteData", "Home", new {tableName = Model.Name})'" />


